.logo img{
    height: 20vw;
   box-sizing: border-box;
   background-position:ce;
   background-image: url(./assets/img/luka_luxe_logo.jpg);
   display: block;
    margin-left: auto;
    margin-right: auto;
   
   
}
.na


body > ul {
    position: absolute;
    top: 50%;
    width: 800px;
    height: 200px; 
    left: 50%;
    margin-left: -400px;
    margin-top: -130px;
}

ul > li {
    width: 25%;
    list-style-type: none;
    position: absolute;
    top: 0;
    padding: 20px;
    height: 200px; 
    opacity: 0;
    padding-top: 40px;
    text-align: center;
    transition: 1s opacity; 
}

.active {
    opacity: 1;
}

p {
    font-family: sans-serif;
    font-size: 13px;
color: #646566;
    line-height: 1.5em;
}

strong { 
color: #fff;
font-weight: 700;
    font-size: 60px; 
line-height: 100px; 
}
nav.menu ul li.btn a :hover{
    color: white;
    background-color: #ff523b;
    text-decoration: none;
    padding: 10px;
}
nav.menu ul li.btn:hover a{
    color: #ff523b;
    background-color: white;
    transition: O.4s;
    
}

/* .bloc{
    position: relative;
    height:100vh ;
    width: 100%;
    overflow: hidden;
} */
.bloc video{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
    z-index: -100;
    transform: translate(-50%,-50%);
}
.navbar{
    display: flex;
    align-items: center;
    
}
.logo img{
    flex: 1 0 auto;
   background-position: center;
    height: auto;
    max-width: 100rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 50px;
}
a{
    text-decoration: none;
    color: white;
}
p{
    color: #555;
    font-size: 30px;
}
.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
flex-basis: 50%;
min-width: 300px;
}
.col-2 img{
max-width: 100%;
padding: 50px;
}
.col-2 h1{
    font-size: 100px;
    line-height: 160px;
    margin: 125px;
}
.btn{
    display:inline-block;
    background: #ff523b;
    color: #fff;
    padding:8px 30px;
    margin: 30px 0;
    border-radius:30px ;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.header row{
    margin-top:70;
}
.produits{
margin:70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin:auto ;
    padding-left:25px ;
    padding-right: 25px; ;
}
.col-4{
    flex-basis:25% ;
    padding:10px ;
    min-width: 200px;
    margin-bottom:50px;
    transition: 00.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin:0 auto 80px ;
    position:relative ;
    line-height: 60px ;
    color: #555;
}
.slike{
    display: flex;
    margin: 100%;
    padding: 100%;
}
#carouselExemple{
    width: 50%;
    margin: 0 auto;
    margin-top: 120px;
}
.title::after{
    content: '';
    background:#ff523b ;
    widows: 80px;
    height:5px;
    border-radius:5px;
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
     color:#ff523b
}
.col-4:hover{
    transform: translateY(-5px);
}
.offre{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offre-img{
    padding: 50px;
}
small{
    color: #555;
}
.temoignage{
    padding-top: 100px;
}
.temoignage .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 00.5s;
}
.temoignage .col-3 img{
    width: 150px;
}
.temoignage .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color:#ff523b;
}
.col-3 p{
    font-size: 12px;
    margin:12px 0;
    color:#777;
}
.marques{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}